/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap");

root {
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Sanchez', serif;
}

body {

    font-family: var(--fuente-2);
    background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Fija el fondo en su posición */
    background-position: center;
    min-height: 100%;
    display: flexbox;
    flex-direction: column;
}

.contenido {
    flex: 1!important;
    /* margin-top: 100px; */
}

.card {
    margin: 10%;
    background-color: #ffffff41!important;
}