/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap" );
root{
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Lustria', serif; 
  /* 'Sanchez', serif;  */
}

.container2
{
    /* margin-top: 25%;*/
    /* margin-bottom: 5%;  */
display: grid;
place-items: center;

}
.wrapper{
    
  width: 70vw;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(119, 13, 218, 0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

/* Fuentes */


body{
background-color: #FAE8F5 !important;
/* font-family: 'Lustria', serif;   */
font-family: var(--fuente-2);
background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; /* Fija el fondo en su posición */
background-position: center;
min-height: 100%;
display: flexbox;
flex-direction: column;
}


.contenido {
	flex: 1;
	margin-top: 100px;
}


.side
{

  background-color: #e5beec;
}

.card
{ 
  margin: 10%;
  background-color: #e5beec;
  border-color: rgb(0, 0, 0);
}
