
.seccion {
    font-family: Arial, sans-serif;
    background-color: #FAE8F5;

}

/* #principal{
    margin: auto;
    background-color: #FAE8F5;
} */

.container {
    max-width: 600px;
    margin: 250px;
    padding: 20px;
    background:  rgba(229, 150, 239, 0.30);
    /*background-color: #fff;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nosotros{
    background-color: rgb(181, 150, 239);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 120px;
    resize: vertical;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
