/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap" );
root{
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Lustria', serif; 
  /* 'Sanchez', serif;  */
}
#navbarContainer{
  margin-bottom: 3rem;
}
body{
font-family: var(--fuente-2);
background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; /* Fija el fondo en su posición */
background-position: center;
min-height: 100%;
display: flexbox;
flex-direction: column;
}

.card
{ 
 margin: 5%;
}
#tarjeta{
  background-color: rgba(255, 255, 255, 0.5);
}
.contenido{
  flex: 1;
}