:root {
    --color1: #FAE8F5;
    --color2: #E596EF;
    --color3: #B596EF;
    --color4: #66347F;
    --color5: #000000;
}

body{
    background-image: url(../assets/imgs/Fondos/baby_ranchers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.TITULO {
    margin-top: 80px;
    font-family: 'Tsukimi Rounded', sans-serif;
    background-color: #fae8f57b;
    text-align: center;
}

.li{
    background-color: #66347F;
}

#subtitulo{
    font-family: 'Lustria', serif;
}

.card3{
    background-color: var(--color1);
    margin: 10px;
    color: #000000;
    border-radius: 10px;
    border:solid;
    border-color: #000000;
    padding: 20px;
    }

#seccion{
    margin-bottom: 20px;
}

/* Estilos para la sección de estatus de envío de productos */
section.container {
    background-color: #fae8f57b;
    padding: 20px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    font-family: 'Lustria', serif;
}


