.hero{
  background-color: #FAE8F5;
  min-height: 200px;
  text-align: center;
  padding: 60px;
  text-align: center;
  flex-wrap: wrap;

  /*padding: 60px;
  height: 250px;
  border-radius: 30px;
  border: 4px solid #000000;
  background:  rgba(229, 150, 239, 0.30);
  margin: 80px;
  text-align: center; */
}

.heroImagen{
  width: 100px;
  height: 100px;
  margin: auto;
}

p{
  font-size: 15px;
}

.contenedorGeneral{
  background-color: #FAE8F5;
}



.container{
  padding: 10px;
  height: 330px;
  border-radius: 30px;
  border: 4px solid #000000;
  background: #FAE8F5;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
}

