/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap" );

:root {
    --color1: #FAE8F5;
    --color2: #E596EF;
    --color3: #B596EF;
    --color4: #66347F;
    --color5: #000000;
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Sanchez', serif; 
}

body{
    
    background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

/*
.TITULO {
    margin-top: 80px;
    font-family: var(--fuente-1);
    background-color: #fae8f59f;
    text-align: center;
}
*/

#h2Titulo{
    font-family: var(--fuente-2);
    color: var(--color5);
    
}


#subtitulo{
    
    font-family: var(--fuente-2);
}

.card3{
    
    background-color: var(--color1);
    margin: 10px;
    color: #000000;
    border-radius: 10px;
    border:solid;
    border-color: #000000;
    padding: 20px;
    }

#contenedorGeneral{
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0px;
    background-color: #ffffff7e !important;
    
    
}

#seccion{
    
    padding: 50px;
    border-radius: 10px;
    font-family: var(--fuente-2);

}

/* Estilos para la sección de estatus de envío de productos */
section.container {
    background-color: #fae8f57b;
    padding: 20px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    font-family: var(--fuente-2);
}


