:root {
    --color1: #FAE8F5;
    --color2: #E596EF;
    --color3: #B596EF;
    --color4: #66347F;
    --color5: #000000;
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Sanchez', serif; 
}

body{
    
    background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.TITULO {
    margin-top: 80px;
    font-family: var(--fuente-1);
    background-color: #fae8f59f;
    text-align: center;
}

#h2Titulo{
    color: var(--color5);
}



.li{
    
    background-color: #66347F;
}

#subtitulo{
    
    font-family: var(--fuente-2);
}

.card3{
    
    background-color: var(--color1);
    margin: 10px;
    color: #000000;
    border-radius: 10px;
    border:solid;
    border-color: #000000;
    padding: 20px;
    }

#seccion{
    
    margin-bottom: 20px;
}

/* Estilos para la sección de estatus de envío de productos */
section.container {
    background-color: #fae8f57b;
    padding: 20px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
    font-family: var(--fuente-2);
}


