/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
root{
  --fuente-1: 'League Spartan', sans-serif;
  --fuente-2: 'Sanchez', serif; 
}

/* Fuente para parrafos y textos */
.lead,
.display-5 {
  font-family: var(--fuente-2);
}

.titulo{
  font-family: var(--fuente-1);
  font-size: 8rem;
  color:white;
  font-weight:900;
  line-height: 0.9;
  letter-spacing: -7px;
}

.slogan{
  margin-top: 1rem;
  font-family: var(--fuente-2);
  font-size:1.9rem;
  color:white;
  line-height: 2rem;
}
/* Fuente para Titulos */
.display-4,
.banner2 {
  font-family: var(--fuente-1);
}

/* Banner de inicio de página */
.banner {
  background-color: rgb(250, 232, 245);
  /* background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 20px); */
  background-image: url(/assets/imgs/background.png);
  /* background-size:cover;
  background-position: center;
  background-repeat:space; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* font-family: var(--fuente-2); */
}

.banner {
  /* background-position: center; */
  background-repeat: no-repeat;
  animation: desplazamiento 10s linear forwards;
  animation-fill-mode: forwards;
}

@keyframes desplazamiento {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 71% 0%;
  }
}

.titulo {
  animation: bajada-letras 1s ease-in-out forwards;
}

@keyframes bajada-letras {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.slogan {
  opacity: 0; /* Inicia con opacidad 0 para ocultar el slogan */
  animation: aparecer-slogan 2s ease-in-out forwards;
}

@keyframes aparecer-slogan {
  0% {
    opacity: 0; /* Comienza con opacidad 0 */
  }
  100% {
    opacity: 1; /* Llega a opacidad 1 al final de la animación */
  }
}


.boton{
  margin-top: 1rem;
  font-family: var(--fuente-2);
  font-size: 1.5rem;
  font-weight: bolder;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: #004AAD;
  animation: latido 1.5s infinite;
}

.boton:hover {
  color: white;
  background-color: black;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Logotipo en Banner
.product-device {
  position: absolute;
  right: 2%;
  bottom: 0%;
  z-index: 0;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
} */

/* Logotipo en Banner*/
#logotipo {
  width: 300px;
  height: 300px;
}

/* Cuadricula Servicios */
/* Cuadricula Servicios */
.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/serviciosImg/manLashes.jpg);
  background-size:cover;
  background-repeat:space;
  background-position:left;
  /* background: rgba(102, 52, 127,0.5); */
  font-family: var(--fuente-1);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Agregamos la sombra de caja */
  transition: transform 0.3s; /* Agregamos una transición suave */
}
.servicios h2, .productos h2, .garantias h2, .nosotros h2{
  font-size: 5vw;
  -webkit-text-stroke: 1px black;
}
.servicios p, .productos p, .garantias p, .nosotros p{
  font-family: var(--fuente-2);
  font-size: 1.5vw;
}

.servicios:hover {
  transform: scale(1.1); /* Aplicamos una escala del 110% al pasar el mouse por encima */
}

/* Cuadricula Productos */
.productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/serviciosImg/cepillo.png);
  background-size:cover;
  background-repeat: space;
  background-position: center;
  /* background: rgba(102, 52, 127,0.5); */
  font-family: var(--fuente-1);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Agregamos la sombra de caja */
  transition: transform 0.3s; /* Agregamos una transición suave */
}

.productos:hover {
  transform: scale(1.1); /* Aplicamos una escala del 110% al pasar el mouse por encima */
}

/* Cuadricula Garantías */
.garantias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/serviciosImg/hibrida.jpg);
  background-size:cover;
  background-repeat: space;
  background-position: center;
  /* background: rgba(102, 52, 127,0.5); */
  font-family: var(--fuente-1);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Agregamos la sombra de caja */
  transition: transform 0.3s; /* Agregamos una transición suave */
}

.garantias:hover {
  transform: scale(1.1); /* Aplicamos una escala del 110% al pasar el mouse por encima */
}


/* Cuadricula Nosotros */
.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/serviciosImg/andrea.jpg);
  background-size:cover;
  background-repeat: space;
  background-position: center;
  /* background: rgba(102, 52, 127,0.5); */
  font-family: var(--fuente-1);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Agregamos la sombra de caja */
  transition: transform 0.3s; /* Agregamos una transición suave */
}

.nosotros:hover {
  transform: scale(1.1); /* Aplicamos una escala del 110% al pasar el mouse por encima */
}

/* Efecto de sombreado para cuadricula opciones */
/* .servicios:hover,
.productos:hover,
.garantias:hover,
.nosotros:hover {
  background: linear-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
  color: black;
} */

/* Enlaces */
.link {
  text-decoration: none;
  color: white;
}

/* Banner 2 */
.banner2 {
  background-image: url(/assets/imgs/background2.png);
  background-size: cover;
  background-repeat: round;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
.titulo2{
  font-family: var(--fuente-1);
  font-size: 10vw;
  color:white;
  font-weight:900;
  line-height: 0.8;
  letter-spacing: -10px;
}

.slogan2{
  margin-top: 3rem;
  font-family: var(--fuente-2);
  font-size:2vw;
  color:white;
  line-height: 4rem;
}

@media (max-width: 576px) {

  .servicios h2, .productos h2, .garantias h2, .nosotros h2{
    font-size: 10vw;
    -webkit-text-stroke: 1px black;
  }

  .servicios p, .productos p, .garantias p, .nosotros p{
    font-family: var(--fuente-2);
    font-size: 4vw;
  }

  .tendencia{
    letter-spacing: 15px;
  }

  .titulo2 {
    font-size: 20vw;
    letter-spacing: -0.5px;
  }
  .slogan2{
    font-size: 5vw;
    line-height: 1.5rem;
  }
}

/* Tendencias */
.tendencias {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: var(--fuente-2);
}

.tendencia{
  font-family: var(--fuente-1);
  font-size: 4vw;
}

/* Imagenes del Carrusel */
.carousel-item img {
  height: 34vw; /* Establece la altura deseada */
  width: auto; /* Ajusta automáticamente el ancho */
  object-fit:contain; /* Ajusta la imagen para cubrir el contenedor */
}



/* Footer */
footer {
  background-color: black;
  color: white;
}

/* Propiedades para bordes */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

/* Efecto de shadow box para contenedores */
/* .box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
} */

/* Propiedades flex */
.flex-equal>* {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

/* Propiedad de tamaño de ventana */
@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  
}

/* Propiedad para evitar el desborde */
.overflow-hidden {
  overflow: hidden;
}

/* Propiedad para texto en tendencias */
#tendencias {
  color: white;
}

/* Mandar enfrente el texto de bienvenida */
#textoBienvenida {
  z-index: 1;
}

/* Zona de contáctanos */
.contacto {
  background-image: url(/assets/imgs/background4.png);
  background-size: cover;
  background-repeat: round;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.contactoTitle{
  font-family: var(--fuente-1);
  color: white;
  text-align: center;
  font-size: 3vw;
}

.contactoSub{
  font-family: var(--fuente-2);
  color: white;
  text-align: center;
  font-size: 1vw;
}

.form-label{
  color: white;
  font-family: var(--fuente-2);
}


.boton2{
  margin-top: 1rem;
  font-family: var(--fuente-2);
  font-size: 1.5rem;
  font-weight: bolder;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.pretendencias {
  margin-bottom: -5px;
}

