/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded&display=swap');

/* Fuente para parrafos y textos */
.lead,
.display-5 {
  font-family: 'Lustria', serif;
}

/* Fuente para Titulos */
.display-4,
.banner2 {
  font-family: 'Tsukimi Rounded', sans-serif;
}

/* Banner de inicio de página */
.banner {
  background-color: rgb(250, 232, 245);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: 'Lustria', serif;
}

/* Logotipo en Banner */
.product-device {
  position: absolute;
  right: 2%;
  bottom: 0%;
  z-index: 0;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/* Logotipo en Banner*/
#logotipo {
  width: 300px;
  height: 300px;
}

/* Banner 2 */
.banner2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  background-image: url(../assets/imgs/estrellado.jpg);
}

/* Cuadricula Servicios */
.servicios {
  background: rgba(102, 52, 127, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* background: rgba(102, 52, 127,0.5); */
}

/* Cuadricula Productos */
.productos {
  background: rgba(229, 190, 236, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* background: rgba(229, 190, 236, 0.5); */
}

/* Cuadricula Garantías */
.garantias {
  background: rgb(250, 232, 245);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* background: rgba(250, 232, 245,0.5); */
}

/* Cuadricula Nosotros */
.nosotros {
  background: rgb(181, 150, 239);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* background: rgba(181, 150, 239, 0.5); */
}

/* Imagenes para cuadricula de opciones */
.imagenRectangulo {
  width: 350px;
  height: 300px;
  border-radius: 300px;
}

/* Exclusivo para imagen en cuadricula Productos */
.imagenRectangulo2 {
  width: 350px;
  height: 300px;
}

/* Efecto de sombreado para cuadricula opciones */
.servicios:hover,
.productos:hover,
.garantias:hover,
.nosotros:hover {
  background: linear-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
  color: black;
}

/* Enlaces */
.link {
  text-decoration: none;
  color: black;
}

/* Tendencias */
.tendencias {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Imagenes del Carrusel */
.tendencia {
  max-width: 30%;
  margin: 0 auto;
}

/* Footer */
footer {
  background-color: black;
  color: white;
}

/* Propiedades para bordes */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

/* Efecto de shadow box para contenedores */
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Propiedades flex */
.flex-equal>* {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

/* Propiedad de tamaño de ventana */
@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

/* Propiedad para evitar el desborde */
.overflow-hidden {
  overflow: hidden;
}

/* Propiedad para texto en tendencias */
#tendencias {
  color: white;
}

/* Mandar enfrente el texto de bienvenida */
#textoBienvenida {
  z-index: 1;
}

/* Zona de contáctanos */
.contacto {
  background: rgba(181, 150, 239, 0.3);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}