body{
    background-color: #FAE8F5 !important;
    font-family: 'Lustria', serif;  
}  

#navbarContainer{
    margin-bottom: 100px;
}

.descriptionCard{
    background-color:  rgba(229, 150, 239, 0.30);
    margin: 15px;
    border-radius: 25px; 
    border: 4px solid #000000;
    font-family: 'Lustria', serif;  

}
#logo{
    display: flex;
    justify-content: center;
}

#logoimagen{
    width: 400px;
    height: auto;
}
#imagenesEmpresa{
    width: 330px;
    height: auto;
    text-align: center;
    font-family: 'Lustria', serif; 
}

.descriptionCard{
    text-align: justify;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tsukimi Rounded', sans-serif;
}
