body{
    background-color:rgba(250, 232, 245, 0.50)!important; 
}  

#navbarContainer{
    /* padding-bottom:79px; */
    flex-wrap: nowrap;
} 

.imageCard,.descriptionCard{
    background-color:  rgba(229, 150, 239, 0.30);
    margin: 15px;
    border-radius: 25px;
    border: 4px solid #000000;
}
#logo{
    display: flex;
    justify-content: center;
}

#logoimagen{
    width: 300px;
    height: auto;
}
#imagenesEmpresa{
    width: 300px;
    height: auto;
}