/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap" );
root{
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Sanchez', serif; 
  /* 'Sanchez', serif;  */
}


.body{
--bs-body-font-family:'Sanchez', serif!important;
background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; /* Fija el fondo en su posición */
background-position: center;
min-height: 100%;
display: flexbox;
flex-direction: column;
}
.mod{
    background-color: rgba(0, 0, 0, 0.589);

}
.titulo-mod{
    background-color: rgb(17, 17, 17);
    color: white;
    font-family:'League Spartan', sans-serif;
    font-size: 2rem;
}
.cuerpo-mod{
    background-color: rgb(17, 17, 17);
    font-family:'Sanchez', serif;
    font-weight: lighter;
    color: white;
    font-size: 1.5rem;
}
.cuerpo-mod>label{
    font-family:'League Spartan', sans-serif;
    font-size: 2rem;
}

.contenido {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.63);
    font-family:'Sanchez', serif!important;
    font-size: 1.1rem;
    padding:2rem;
    border-radius: .5rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 13%;
    margin-bottom: 5%;
}
#titulo{
    font-family:'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
.titulos{
    font-family:'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}