.container-tablas{
    background-color: #e5beec;
  color: #66347f;
  padding: 10px;
}

.container-frecuentes{
    background-color: #e5beec;
    
}
#titulo2 {
  font-family: 'Lustria', 'serif';
    margin-top: 1px;
    margin-bottom: 1px;
}
#Titulo1 {
  font-family: 'Tsukimi Rounded', sans-serif;
}
#encabezado {
  background-color:  rgba(229, 150, 239, 0.30);
  margin: 10px;
  border-radius: 20px; 
 
  font-family: 'Lustria', serif;  
  text-align: justify;
}