/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap" );

root{
    --color1: #FAE8F5;
    --color2: #E596EF;
    --color3: #B596EF;
    --color4: #66347F;
    --color5: #000000;
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Lustria', serif; 
}


.body{
margin-top: 100px;
font-family: var(--fuente-2);
background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; /* Fija el fondo en su posición */
background-position: center;
min-height: 100%;
display:flexbox;
flex-direction: column;
}

.contenido {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.63);
    font-family:'Sanchez', serif!important;
    font-size: 1.1rem;
    padding:2rem;
    border-radius: .5rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    margin-bottom: 5%;
  }
  #titulo{
    font-family:'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
  .titulos{
    font-family:'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
  }
#footer{
    /* position: sticky; */
    margin-top: auto;
}

