/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap" );
root{
  --fuente-1: 'League Spartan', sans-serif;
  --fuente-2: 'Lustria', serif; 
  /* 'Sanchez', serif;  */
}


.body{
background-color: #FAE8F5 !important;
/* font-family: 'Lustria', serif;   */
font-family: var(--fuente-2);
background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; /* Fija el fondo en su posición */
background-position: center;
min-height: 100%;
display: flexbox;
flex-direction: column;
}


.contenido {
	flex: 1;
	margin-top: 100px!important;
}



.card {

    height: auto;
    background-color: #e5beec!important ;  
    background-image: url('/assets/imgs/Fondos/gradiente_magico2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija el fondo en su posición */
    background-position: center;
    margin-top: 10%;
    border-color: rgba(255, 255, 255, 0)!important;
    }    