.navbarOjo
{
background-color: #66347f;
}

.imgLogo
{
height: 6%;
width: 6%;
}

/* .containerImg
{
    position: absolute;
    left: 2%;
} */

/* .containerName
{
    position: absolute;
    left: 10%;

} */

.containerBread
{
position: absolute;
right: 5%;

} 