@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded&display=swap');

.navbarOjo .navbar-brand{
/* En revisión 
.navbarOjo .nav-item a{ */
    color: white;
}

.navbarOjo {
    background-color: #66347f;
    position: sticky;
    font-family: 'Tsukimi Rounded', sans-serif;
    color: white;
}

.imgLogo {
    height: 6%;
    width: 6%;
}


.navbar {
    z-index: 9999;
    top: 0%;
}

#contenedorNavbar .containerName {
    position: absolute;
    left: 5%;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.containerBread {
    position: absolute;
    right: 5%;
}