.navbarOjo {
    background-color: #66347f;
    position: sticky;
    font-family: 'Tsukimi Rounded', sans-serif;
    color: white;
}

.imgLogo {
    height: 6%;
    width: 6%;
}


.navbar{
    z-index: 9999;
    top: 0%;
}



.containerBread {
    position: absolute;
    right: 5%;
}

