.body
{
background-color: white;
}

  #encabezado {
    
    background-image: url(/assets/imgs/Fondos/gradiente_magico2.png);
    background-size:cover;
    background-position: center;
    background-repeat:space;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#Titulo1 {
 
  font-family: 'League Spartan', sans-serif;
}
#titulo2 {
  font-family: 'Sanchez', serif; 
    margin-top: 1px;
    margin-bottom: 1px;

}

#servicios-card {
  background: #FAE8F5;
}

/* **********************************************************
/*                    About Team
/* ********************************************************* */
.about-team {
  background: white;
  
}

.about-team-block {
  background: #FAE8F5;
  margin: 0 0 25px;
  transition: 0.25s;

}

.about-team-block img {
  width: 85%;
}

.about-team-block:hover {
  transform: translateY(-8px);
  color:#e5beec
  -webkit-box-shadow 0px 21px 42px -22px #919394;
  -moz-box-shadow: 0px 21px 42px -22px #919394;
  box-shadow: 0px 21px 42px -22px #919394;
  cursor: pointer;
}

.about-team-title {
  padding: 20px 20px;
  min-height: 94px;
  overflow: hidden;
}

.about-team-title h5 {
  text-align: center;
}

.about-team-title p {
  text-align: center;
  margin: 0;
}

