body{
    background: rgba(250, 232, 245, 0.50);

}
#codeRanchers-container{
    background: rgba(229, 150, 239, 0.30);
    
}
.integrantes{
    height: 250px;
    border-radius: 30px;
    border: 4px solid #000000;
    background:  rgba(229, 150, 239, 0.30);
    margin: 10px;
    
}

#codeLogo{
    width: 400px;
    padding-left: 10px;
}