#navbarContainer{
    margin-bottom: 6rem;
}

#codeRanchers{
    height: fit-content;
    background-image: url(/assets/imgs/Fondos/ranchers.png);
    position: sticky;
    font-family: 'Lustria', serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.integrantes{
    height: fit-content;
    background-color: #e596efb0;
    margin: 10px;
    display: flex;
    align-items: center;
    font-family: 'Lustria', serif;
    font-size: 14px;
    
}

#codeLogo{
    width: 200px;
}

.descripcion>p{
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'Lustria', serif;
}
.nombres{
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: bold;
}

.resume{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto{
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contactame>img{
    width: 3rem !important;
}

.picture>img{
    border-radius: 50%;
    margin: 10px;
}
.picture{
    display: flex;
    align-items: center;
}