/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&family=Sanchez:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Tsukimi+Rounded:wght@500&display=swap");

root {
    --fuente-1: 'League Spartan', sans-serif;
    --fuente-2: 'Sanchez', serif;
}

#navbarContainer{
    margin-bottom: 6rem;
}
body{
    background-image: url(/assets/imgs/Fondos/ranchers2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Fija el fondo en su posición */
    background-position: center;
    
}
#codeRanchers{
    background-color: rgba(160, 111, 189, 0.774);
    height: fit-content;
    position: sticky;
    font-family: --fuente-2;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.tarjeta{
    height: fit-content;
    background-color: #00000071;
    margin: 10px;
    display: flex;
    align-items: center;
}

#codeLogo{
    width: 20rem;
}

.descripcion>p{
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: var(--fuente-2);
    font-size: 1.5rem;
    color: white;
}
.nombres{
    font-family: --fuente-1;
    font-weight: bolder;
    font-size: 1.8rem;
    color: white;
}

.resume{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto{
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contactame>img{
    width: 2rem !important;
}

.picture>img{
    border-radius: 50%;
}
.picture{
   align-self: center;
}